<%- include("partials/header"); -%>

  <h1><%=title%></h1> <!--recibimos el titulo ingresado por el usuario para publicarlo en la nueva ruta-->
  <p><%=content%></p> <!-- recibimos el grueso de la publicacion hecho por el usuario y lo ponemos en la nueva ruta-->

<%- include("partials/footer"); -%>
